In [1]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://vishal121:vishal121@cluster0.x1u7hh6.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [3]:
client

MongoClient(host=['ac-a8ll8yb-shard-00-01.x1u7hh6.mongodb.net:27017', 'ac-a8ll8yb-shard-00-00.x1u7hh6.mongodb.net:27017', 'ac-a8ll8yb-shard-00-02.x1u7hh6.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-62vrpj-shard-0', tls=True)

In [4]:
client = pymongo.MongoClient("mongodb+srv://vishal121:vishal121@cluster0.x1u7hh6.mongodb.net/?retryWrites=true&w=majority")

In [13]:
db=client['vishal121']

In [14]:
coll_create=db["my_record"]

In [24]:
data = {"name" : "sudh",
        "class" : "data science masters ",
        "timing " : "flexi"
}

In [25]:
coll_create.insert_one(data)

In [26]:
data1={"name":"Vishal",
      "Age":20,
      "Roll no":16}

In [27]:
coll_create.insert_one(data1)

In [28]:
data2={"Hobbies":["Playing cricket","Reading books","Playing mobile games"]}

In [29]:
coll_create.insert_one(data2)

In [30]:
data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [32]:
coll_create.insert_many(data3)

In [34]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('64075af03aa2562dc77c5e36'), 'name': 'sudh', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': ObjectId('64075b173aa2562dc77c5e37'), 'name': 'sudh', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': ObjectId('64075cc53aa2562dc77c5e38'), 'name': 'Vishal', 'Age': 20, 'Roll no': 16}
{'_id': ObjectId('64075d493aa2562dc77c5e39'), 'Hobbies': ['Playing cricket', 'Reading books', 'Playing mobile games']}
{'_id': ObjectId('64075d933aa2562dc77c5e3a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64075d933aa2562dc77c5e3b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64075d933aa2562dc77c5e3c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64075d933aa2562dc77c5e3d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64075d933aa2562dc77c5e3e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64075d933aa2562dc77c5e3f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64075d933aa2562dc77c5e40'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64075d933aa2562dc77c5e41'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64075d933aa2562dc77c5e42'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64075d933aa2562dc77c5e43'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64075d933aa2562dc77c5e44'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64075d933aa2562dc77c5e45'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [35]:
coll_create.find_one()

{'_id': ObjectId('64075af03aa2562dc77c5e36'),
 'name': 'sudh',
 'class': 'data science masters ',
 'timing ': 'flexi'}

In [36]:
list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

In [37]:
coll_create.insert_many(list_of_records)

In [40]:
for  i in coll_create.find({'companyName':'iNeuron'}):
    print(i)

{'_id': ObjectId('64075e813aa2562dc77c5e46'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('64075e813aa2562dc77c5e47'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('64075e813aa2562dc77c5e48'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [42]:
for i in coll_create.find({'_id' : {'$gte' : '4'}}):
    print(i)

In [45]:
coll_create.update_many({'companyName':'iNeuron'},{'$set' :{'companyName':'Amazon'}})