In [1]:
import seaborn as sns

In [4]:
df=sns.load_dataset('exercise')

In [3]:
import numpy as np

In [6]:
df.cov()

/tmp/ipykernel_91/1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

            Unnamed: 0          id       pulse
Unnamed: 0  682.500000  227.275281  267.252809
id          227.275281   75.758427   87.814607
pulse       267.252809   87.814607  220.774157

In [13]:
df.corr(method='spearman')

/tmp/ipykernel_91/1222267885.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='spearman')

            Unnamed: 0        id     pulse
Unnamed: 0    1.000000  0.999506  0.708812
id            0.999506  1.000000  0.701185
pulse         0.708812  0.701185  1.000000

In [14]:
df.corr(method='pearson')

/tmp/ipykernel_91/1928163937.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='pearson')

            Unnamed: 0        id     pulse
Unnamed: 0    1.000000  0.999506  0.688489
id            0.999506  1.000000  0.679012
pulse         0.688489  0.679012  1.000000

In [15]:
df=sns.load_dataset('penguins')

In [16]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [17]:
df.corr()

/tmp/ipykernel_91/1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
bill_length_mm,1.000000,-0.235053,0.656181,0.595110
bill_depth_mm,-0.235053,1.000000,-0.583851,-0.471916
flipper_length_mm,0.656181,-0.583851,1.000000,0.871202
body_mass_g,0.595110,-0.471916,0.871202,1.000000